:root {
    --color-primary: #0f2142;
    --color-secondary: #840032;
    --color-accent: #FAA613;
    --color-background: #2a3705;
    --color-background-alt: #998851;
    --color-text: #F1F2EE;
    --font-default: Arial;
    --font-accent: RumbleTumble;
}
