:root {
    --color-primary: #5d96eb;
    --color-secondary: #38203f;
    --color-accent: #FAA613;
    --color-background: #07090e;
    --color-background-alt: #224453;
    --color-text: #d8f6fa;
    --font-default: Tahoma;
    --font-accent: Azonix, Tahoma;
}
