:root {
    --color-primary: #00C1D5;
    --color-secondary: #f7ae69;
    --color-accent: #9B26B6;
    --color-background: #1B1A43;
    --color-background-alt: #130707;
    --color-text: #FEFBFB;
    --font-default: Helvetica;
    --font-accent: Cooper
}