<div class="card" style="width: 22rem;">
    <div class="card-body">
        <h5 id="infoCard-name" class="card-title">Card title</h5>
        <h6 id="infoCard-desc" class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
        <table class="table table-borderless">
            <tbody>
                <th scope="row">Players: </th>
                <td>
                    <span id="infoCard-players">0</span>
                    <span> / </span>
                    <span id="infoCard-soft_max_players">32</span>
                </td>
            </tbody>
        </table>
        <!-- <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
    </div>
</div>
<script>
    //TODO: Support multiple addresses. Shouldn't be too hard but it's unimportant right now.
    let addresses = {{ page.server_addresses | jsonify }}; {% comment %} This address is filled in by Liquid. {%- endcomment -%}
    if (!addresses)
        throw new Error(`Server address for {{ page.title }} was not set in the front matter!`);

    fetch(`http://${addresses[0]}/info`)
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json();
        }).catch(e => {
            console.log(`Failed to gather server info from ${addresses}: ${e}`);
            //FIXME: CORS is fucking up the testing so we're faking it.
            return `{"connect_address":"","auth":{"mode":"Required","public_key":"O7UBcAa\u002BLXG4yPzQHmDpwzHfuuVu8fl5xL7DZ\u002B1XZxo="},"build":{"engine_version":"144.0.1","fork_id":"ParkStation14","version":"34D9F9621E51E42B7FA2687F5C05C2971C5E89EB5ACB491B7FA8BD471CD4DE9A","download_url":"","manifest_download_url":"","manifest_url":"","acz":true,"hash":"","manifest_hash":"34D9F9621E51E42B7FA2687F5C05C2971C5E89EB5ACB491B7FA8BD471CD4DE9A"},"desc":"An English MRP server focused on higher RP expectations and calmer rounds.","links":[{"name":"Discord","icon":"discord","url":"https://discord.gg/49KeKwXc8g"},{"name":"GitHub","icon":"github","url":"https://github.com/Park-Station/Parkstation"}]}`;
        }).then(json => {
            let parsed = JSON.parse(json)
            
            if (typeof parsed != "object")
                throw new Error(`Parsed JSON was not of type 'object': ${parsed}`)

            Object.keys(parsed).forEach(key => {
                let elem = document.getElementById(`infoCard-${key}`);
                if (elem != null)
                    elem.innerHTML = parsed[key];
            });
        });

    let rawStatus = fetch(`http://${addresses[0]}/status`)
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json();
        }).catch(e => {
            console.log(`Failed to gather server status from ${addresses}: ${e}`);
            //FIXME: CORS is fucking up the testing so we're faking it.
            return `{"name":"[EN] \uD83C\uDF33 | Parkstation - IPC \u0026 Shadowkin Custom Species Update","players":17,"tags":["rp:med","region:am_n_e","lang:en","no_tag_infer"],"soft_max_players":32,"run_level":0}`;
        }).then(json => {
            let parsed = JSON.parse(json)
            
            if (typeof parsed != "object")
                throw new Error(`Parsed JSON was not of type 'object': ${parsed}`)

            Object.keys(parsed).forEach(key => {
                let elem = document.getElementById(`infoCard-${key}`);
                if (elem != null)
                    elem.innerHTML = parsed[key];
            });
        });

    // let request = new XMLHttpRequest()

    // request.open("GET", "http://parkstation.simplestation.org/info", tr)
</script>