---
---
@import "main";
/* @import "bootstrap-5.3.3-dist/css/bootstrap.css"; */

{%- comment -%} Handle loading any fonts. {%- endcomment -%}
{% assign fonts = site.static_files | where: "is_font", true %}

{%- for font in fonts -%}
    @font-face {
        font-family: " {{- font.basename -}} ";
        src: url(" {{- font.path -}} ") format(" {{- font.extname | remove_first: '.' -}} ");
        font-weight: normal;
        font-style: normal;
    }
{% endfor %}
